.user_info {
    background-color: #fff;
    margin-top: 0.6rem;
    color: #9a9a9a;
    padding: 0.36rem 0.28rem;
    border-radius: 0.15rem;
    margin-bottom: 0.2rem;
    box-shadow: 0rem 0.2rem 0.2rem  #e6e6e6;
}
.user_info .def_img{
    text-align: center;
}
.user_info .text_wrap{
    text-align: center;
    padding-top: 1rem;
}
.user_info .def_img img{
    width: 2rem;
    border-radius: 50%;
}
.user_info .user_info_top .icon img {
    width: 100%;
    margin-top: -40%;
    border-radius: 50%;
}

.user_info .user_info_top .name .information h2 {
    font-size: 0.37rem;
    color: #686058;
    line-height: 0.67rem;
}
.user_info .user_info_top .name .information p{
    line-height: 0.55rem;
    font-size: 0.26rem;
    color: #9a9a9a;
}
.user_info .user_info_top .name button {
    font-size: 0.22rem;
    padding: 0.1rem 0.2rem;
    background-color: #d4c0ab;
    border: none;
    border-radius: 0.03rem;
}
.user_info .user_info_top .name a{
    color: #fff;
}
.user_info .user_info_mid{
    padding: 0.4rem 0;
}
.user_info .user_info_mid .label_list li{
    padding: 0.1rem;
    border: 0.02rem solid #ebdccc;
    border-radius: 0.05rem;
    margin-right: 0.1rem;
    margin-bottom: 0.15rem;
}
.user_info .user_info_bottom{
    padding: 0.2rem 0.6rem 0.24rem 0.6rem;
}
.user_info .user_info_bottom div{
    text-align: center;
    padding: 0px;
}
.user_info .user_info_bottom img{
    margin-bottom: 0.1rem;
    width: 0.5rem;
}
.user_info .user_info_bottom a{
    font-size: 0.22rem;
    color: #777777;
}

.focus_updates{
    padding: 0.38rem 0.3rem;
    border-radius: 0.15rem;
    background-color: #fff;
    box-shadow: 0rem 0.2rem 0.2rem  #e6e6e6;
}
.focus_updates h2{
    text-align: center;
    font-size: 0.34rem;
    color: #686058;
    margin-bottom: 0.3rem;
    font-weight: normal;
    padding-top: 0.3rem;
}
.focus_updates .book_info{
    border-bottom: 0.02rem #f4f4f4 solid;
    padding-bottom: 0.3rem;
    margin-top: 0rem;
}
.focus_updates .book_info .info{
   padding-right: 0px;
    padding-left: 0.02rem;
    margin-bottom: 0.5rem;
    padding-top: 0.2rem;
}
.focus_updates .book_info img{
    width: 100%;margin-right: 0.2rem;
}
.focus_updates .book_info h4,.focus_updates .book_info h3{
    font-size: 0.14rem;
    line-height: 0.4rem;
    color: #6e675f;
    font-weight: normal;
}
.focus_updates .book_info h3{
    font-size: 0.18rem;
}
.focus_updates .book_info p{
    font-size: 0.10rem;
    color: #ff9292;
    line-height: 0.43rem;
}
.book_info_wrap{
    padding: 0px;
    margin-bottom: 0.5rem;
}
.img_wrap{
}
@media all and (min-width: 768px) {
    .user_info {
        margin-top: 20px;
    }
}

@media all and (min-width: 992px) {
    .user_info {
        margin-top: 40px;
    }
}

@media all and (min-width: 1200px) {
    .user_info {
        margin-top: 60px;
    }
}

